---
Checks: 'bugprone-*,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,

         -modernize-use-trailing-return-type,
         -readability-braces-around-statements'

CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
...
